// Global styles.
/////////////////
body {
  margin: 0;
  overflow: hidden;
  position: absolute;
  font-family: 'Staatliches', cursive;
  user-select: none;
}

.hiddenInformation {
  display: none;
}

.showInformation {
  display: inline-block;
}


// Canvas field.
////////////////
canvas {
  min-width: 320px;
  position: absolute;
}

// Btns.
/////////
.btns {
  position: absolute;
  font-family: 'Staatliches', cursive;
}

.btnL {
  left: 0;
  bottom: -2%;
  font-size: 3rem;
  background-color: red;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  height: 20%;
  min-height: 100px;
  width: 50%;
  &:hover {
    opacity: 0.3;
  }
}

.btnR {
  right: 0;
  bottom: -2%;
  font-size: 3rem;
  background-color: red;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  height: 20%;
  min-height: 100px;
  width: 50%;
  &:hover {
    opacity: 0.3;
  }
}

// Background image.
////////////////////
.backgroundImgGame {
  width: 100vw;
  height: 100vh;
  min-width: 564px;
  position: relative;
  min-height: -webkit-fill-available;
  top: 0;
  z-index: -1;
}

.timerWrapper {
  background-color: red;
  height: 50px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 20%;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  font-size: 1.2rem;
  cursor: pointer;
}

.timerWrapperOnGame {
  background-color: red;
  height: 50px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 90%;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  font-size: 1.2rem;
  cursor: pointer;
}

.instructionsWrapper {
  background-color: red;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  font-size: 1.2rem;
  padding: 10px;
}

.lifeWrapper {
  background-color: red;
  margin: 0 auto;
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  font-size: 1.2rem;
  padding: 10px;
}

.userScoredWrapper {
  display: block;
}

// Hidden and showed boxes.
////////////////////////////
.userlifeHiddenWrapper {
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 1;
  font-size: 1.2rem;
  padding: 10px;
}

.userlifeShowingWrapper {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 1;
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
}

.gameOverHiddenWrapper {
  display: none;
  background-color: red;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  font-size: 1.2rem;
  padding: 10px;
}

.gameOverShowingWrapper {
  display: inline-block;
  background-color: red;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
}

// Hearts from instructions.
////////////////////////////
.heartDemo {
  width: 50px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.langShowingWrapper {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  right: 0;
  left: 0;
  text-align: center;
  padding: 10px;
}

.langHiddenWrapper {
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  right: 0;
  left: 0;
  text-align: center;
  padding: 10px;
}

.flag {
  width: 50px;
  position: relative;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

// Hearts from game.
////////////////////
.heartGame {
  width: 50px;
  position: relative;
  animation: floatMove 0.9s infinite;
}
.heartGameHit {
  width: 50px;
  position: relative;
  animation: floatMove 0.7s infinite;
}
.heartGameAlmostDie {
  width: 50px;
  position: relative;
  animation: floatMove 0.5s infinite;
}

@keyframes floatMove {
  0% {
    top: 6px;
    opacity: 0.5;
  }
  16% {
    bottom: 3px;
  }
  32% {
    top: 4px;
  }
  48% {
    bottom: 6px;
    opacity: 1;
  }
  64% {
    top: 3px;
  }
  80% {
    bottom: 4px;
  }
  100% {
    top: 6px;
    opacity: 0.5;
  }
}

// Loading animation.
/////////////////////
.loadingStartsState::after {
  content: 'Loading';
  animation: loadingState 3s infinite;
}

.loadingEndsState::after {
  content: unset;
}

@keyframes loadingState {
  50% {content: 'Loading.';}
  75% {content: 'Loading..';}
  100% {content: 'Loading...';}
}

.cargandoIniciaEstado::after {
  content: 'Cargando';
  animation: cargandoEstado 3s infinite;
}

.cargandoFinEstado::after {
  content: unset;
}

@keyframes cargandoEstado {
  50% {content: 'Cargando.';}
  75% {content: 'Cargando..';}
  100% {content: 'Cargando...';}
}

.reiniciandoIniciaEstado::before {
  content: 'Reiniciando';
  animation: reiniciandoEstado 3s infinite;
}

.reiniciandoFinEstado::before {
  content: unset;
}

@keyframes reiniciandoEstado {
  50% {content: 'Reiniciando.';}
  75% {content: 'Reiniciando..';}
  100% {content: 'Reiniciando...';}
}