// Global styles.
/////////////////
body {
  margin: 0;
  overflow: hidden;
  position: absolute;
  font-family: 'Staatliches', cursive;
}

.hiddenInformation {
  display: none;
}


// Canvas field.
////////////////
canvas {
  border: 2px solid black;
  min-width: 320px;
  position: absolute;
}

.btns {
  position: absolute;
  font-family: 'Staatliches', cursive;
}

.btnL {
  left: 0;
  bottom: -2%;
  font-size: 3rem;
  background-color: red;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  height: 20%;
  min-height: 100px;
  width: 50%;
  &:hover {
    opacity: 0.3;
  }
}

.btnR {
  right: 0;
  bottom: -2%;
  font-size: 3rem;
  background-color: red;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  height: 20%;
  min-height: 100px;
  width: 50%;
  &:hover {
    opacity: 0.3;
  }
}

.backgroundImgGame {
  width: 100vw;
  height: 100vh;
  min-width: 564px;
  position: relative;
  min-height: -webkit-fill-available;
  top: 0;
  z-index: -1;
}

.timerWrapper {
  background-color: red;
  height: 50px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 100px;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  font-size: 1.2rem;
  cursor: pointer;
}

.instructionsWrapper {
  background-color: red;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
}

.lifeWrapper {
  background-color: red;
  margin: 0 auto;
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
}

.heart {
  width: 50px;
}

.loadingStartsState::after {
  content: 'Loading';
  animation: loadingState 3s infinite;
}

.loadingEndsState::after {
  content: unset;
}

@keyframes loadingState {
  50% {content: 'Loading.';}
  75% {content: 'Loading..';}
  100% {content: 'Loading...';}
}